<ta-close-dialog-icon-button></ta-close-dialog-icon-button>

<h1 mat-dialog-title>Settings</h1>

<form [formGroup]="settingsForm">
  <div *ngFor="let key of settingsObjKeys" class="option">
    <span>{{ optionsDescription[key] }}</span>
    <mat-slide-toggle
      color="primary"
      [formControlName]="key"
    ></mat-slide-toggle>
  </div>
</form>

<div mat-dialog-actions>
  <button
    type="button"
    color="primary"
    mat-raised-button
    [mat-dialog-close]="settings"
    [disabled]="settings$$.value === settings"
  >
    <mat-icon>save</mat-icon>
    Save
  </button>
  <button type="button" mat-stroked-button mat-dialog-close>Cancel</button>
</div>
