:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 50vw;
  max-width: 100vw;
  min-height: 30vh;
  max-height: 100vh;
  padding: 0 20px;
  background-color: var(--background);

  h1 {
    text-align: center;
    font: 800 24px "Poppins", sans-serif;
    color: var(--text);
  }

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font: 600 17px "Poppins", sans-serif;
      padding-right: 20px;
      color: var(--text);
    }
  }

  mat-slide-toggle {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  [mat-dialog-actions] {
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--text);
  }
}
