:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1.5px solid #9d9797;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    background-color: #9d979748;
  }

  div {
    display: flex;

    span {
      font: 500 17px "Poppins";
      margin-left: 10px;

      &.completed {
        text-decoration: line-through;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;

    button {
      cursor: pointer;
      background: none;
      border: none;
      transition: 0.15s ease-in-out;

      &:hover {
        transform: scale(1.4);
      }

      mat-icon {
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;

        &[fontIcon="edit"] {
          color: #0011e1;
        }

        &[fontIcon="delete"] {
          color: #dd0c0c;
        }
      }
    }
  }
}

@media (max-width: 280px) {
  :host {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
