:host {
  background-color: whitesmoke;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      padding: 15px 0;
      margin: 0;
      font: 700 25px "Poppins";
    }

    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      background-color: white;
      box-shadow: 0px 0px 6px 5px #00000015;
      border-radius: 5px;

      mat-form-field {
        width: 80%;
      }

      button {
        border: none;
        border-radius: 5px;
        background: linear-gradient(90deg, #f283a2, #ff5868);
        padding: 10px 25px;
        font: bold 15px "Poppins";
        color: white;
        cursor: pointer;
      }
    }
  }

  mat-list {
    width: 80%;
    margin: 30px auto 0 auto;
    background-color: white;
    padding: 0;

    &:has(mat-list-item) {
      padding: 5px 8px;
    }

    mat-list-item {
      margin: 10px 0;
    }
  }
}
