:host {
  @media (max-width: 380px) {
    form {
      flex-direction: column;
    }
    mat-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px 0;
    color: var(--text);

    h1 {
      text-align: center;
      margin: 0;
      font: 700 25px "Poppins", sans-serif;
    }

    button {
      border: none;
      background-color: var(--button-bg);
      position: absolute;
      right: 20px;
      margin: auto 0;
      margin-bottom: 0 !important;
      cursor: pointer;
    }
  }

  section {
    padding: 0px 20px;

    .card {
      background-color: var(--secondary-bg);
      box-shadow: 0px 0px 6px 5px var(--shadow-color);
      border-radius: 5px;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      color: var(--text);

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        min-width: 100%;

        mat-form-field {
          width: 100%;
          font-size: 20px;

          input::placeholder {
            color: var(--placeholder);
          }
        }

        button {
          margin-left: 15px;
        }
      }

      mat-error {
        font-weight: 600;
      }
    }
    mat-list {
      background-color: var(--secondary-bg);
      padding: 0;
      margin-top: 30px;

      &:has(mat-list-item) {
        padding: 5px 8px;
      }

      mat-list-item {
        margin: 10px 0;
      }
    }
  }

  pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
}
