<ta-close-dialog-icon-button></ta-close-dialog-icon-button>

<h1 mat-dialog-title>Edit Task</h1>
<form>
  <div>
    <mat-form-field floatLabel="always">
      <mat-label> Task Name</mat-label>
      <input
        matInput
        [formControl]="newNameControl"
        [maxLengthInput]="maxLength"
        placeholder="New Task Name, Ex. Study"
        (keyup.enter)="dialogReference.close(newNameControl.value)"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      type="button"
      color="primary"
      mat-raised-button
      [mat-dialog-close]="newNameControl.value"
      [disabled]="disableCondition"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
    <button type="button" mat-stroked-button mat-dialog-close>Cancel</button>
  </div>
</form>
