:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  max-width: 50vw;

  h1 {
    text-align: center;
    color: var(--text);
  }

  mat-form-field {
    min-width: 100%;
    max-width: 100%;
    font-size: 23px;

    input {
      min-width: 100%;
      max-width: 100%;
      font-size: 23px;
      color: var(--text);

      &::placeholder {
        color: var(--text);
      }
    }
  }

  [mat-dialog-actions] {
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--text);
  }
}
