html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

.hot-toast-checkmark-icon {
  background-color: #50ff00 !important;
}

.cdk-global-scrollblock {
  overflow-y: hidden !important;
}
